.modal-content{
   
    opacity: 10;
    padding: 0 0px;
    box-shadow: 0px 0px 5px #848484;
   
    
}
.main-section{
    margin:0 auto;
    margin-top:10%;
    padding: 0;
}
.user-img{
    margin-top: 10px;
    margin-bottom: 15px;
        }
.user-img img{
    width: 110xp;
    height: 110px;
}
.form-group input{
    height: 28px;
    font-size: 15px;
    border-radius: 5px;
}


button{
    width: 38%;
    margin: 5px 0 5px;
}
